@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');

$fuente-principal: 'Roboto', sans-serif;
$fuente-titulos:'Slabo 27px', serif;
$bgColor: #e1e0db;
$fontSize: 2rem;
$fontTextColor: #000;
$h2Color: #1b4491;
